/**
 * Styles for the PlayerCard component.
 * 
 * .player-card - The main container for the player card.
 * .player-header - Container for the player image and badges.
 * .player-image - The player's image.
 * .player-badges - Container for the player's badges.
 * .badge - The player's badge.
 * .player-name - The player's name.
 * .player-country - Container for the player's country.
 * .player-team - Container for the player's team.
 * .player-rating - The player's rating.
 * .player-position - The player's position.
 * .player-data-btn - Button to show/hide player data.
 * .player-data-left - Container for the player's data on the left side.
 * .player-data-right - Container for the player's data on the right side.
 * .player-container - Container for the player's data.
 * .black-divider - A black horizontal divider.
 */

.player-card {
  width: 300px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 34%,
    rgba(0, 212, 255, 1) 100%
  );
  padding: 10px;
  border-radius: 8px;
  text-align: center;
}

.player-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.player-img {
  width: 90%; /* Fill the width of the container */
  height: 100%; /* Fill the height of the container */
  margin-right: 10px;
  object-fit: cover;
  object-position: top;
}

.player-badges {
  display: flex;
  flex-direction: column;
}

.badge {
  width: 45px;
  margin: 15px 0 0 0;
}

.player-name {
  font-size: 22px;
  font-weight: 900;
  margin-top: 15px;
  color: #ffd700;
  font-family: 'Kanit', sans-serif;
}

.player-country,
.player-team {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
}

.player-country img,
.player-team img {
  width: 25px;
  height: auto;
  margin-right: 10px;
}

.player-rating {
  font-size: 28px;
  font-weight: bold;
  margin: 10px 0;
  color: #ffd700;
}

.player-position {
  font-size: 18px;
  font-weight: bold;
  color: #000080;
}

.player-data-left,
.player-data-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  padding: 5px;
}

.player-data-left {
  margin-right: -60px;
}

.player-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.player-data-left div,
.player-data-right div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.player-data-left h3,
.player-data-right h3 {
  margin: 0 5px 0 0;
  font-size: 24px;
  color: #d3d3d3;
}

.player-data-left span,
.player-data-right span {
  font-size: 16px;
  color: #000080;
  margin: 0;
}

.black-divider {
  height: 3px;
  background-color: black;
  margin: 0;
  width: 100%;
}
